# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.venv/
env/
.env/

# Environment variables
.env
.env.*

# Database files
*.db
*.sqlite3

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.suo
*.swp

# OS
.DS_Store
Thumbs.db
